 
    <div class="row"> 
        <div class="col-md-4">
            <div class="mt-2">
                <label class=" control-label">Total Presupuesto</label>
                <label class=" control-label ml-2">{{totalPresupuesto}}</label>
            </div>
        </div>      
        <div class="col-md-4">
            <div class="mt-2">
                <label class=" control-label">Total Requerimiento</label>
                <label class=" control-label ml-2">{{totalRequerimiento}}</label>
            </div>
        </div>  
        <div class="col-md-4">
            <div class="mt-2">
                <label class=" control-label">Total Pendiente</label>
                <label class=" control-label ml-2">{{totalPendiente}}</label>
            </div>
        </div>                      
    </div>     
 

<div class="mt-3">
    <div class=" tableFixHead">
        <table class="table  table-hover table-sm">
            <thead class="theadTable">

                <tr style="height: 40px !important;">
                    <th>#</th>
                    <th>CODIGO </th>
                    <th>DESCRIPCION </th>
                    <th>UM </th>
                    <th>CANT. REQUERIDA </th>
                    <th>COSTO </th>
                    <th>TOTAL REQUERIMIENTO </th>
                    <th>TOTAL PENDIENTE </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of materialesDet  ; index as j" >
                    <td scope="row"> {{j + 1}} </td>
                    <td>{{item.codigoMaterial}}</td> 
                    <td>{{item.descripcionMaterial}}</td> 
                    <td>{{item.unidadMedida}}</td> 
                    <td class="text-right" >
                            {{item.cantidadRequerida}} 
                    </td> 
                    <td class="text-right">{{item.costoPresupuesto | number:'0.1-5'}}</td>  
                    <td class="text-right">{{item.totalRequerimiento | number:'0.1-5'}}</td>  
                    <td class="text-right" >{{item.totalPendiente | number:'0.1-5' }}</td>  
                </tr> 
            </tbody>
        </table>
    </div>  
</div>

 
